In [1]:
import pandas as pd

In [2]:
## LOADING DATA...
pd.read_csv(r"C:\Users\badam\students_data.csv")

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average
30,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [3]:
##GIVING DATAFRAME TO DATASET
df = pd.read_csv(r"C:\Users\badam\students_data.csv")

In [4]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average
30,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [5]:
## INFORMATION OF DATASET
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   student_id     31 non-null     int64
 1   name           31 non-null     object
 2   age            28 non-null     float64
 3   gender         31 non-null     object
 4   grade          31 non-null     object
 5   math_score     13 non-null     float64
 6   english_score  23 non-null     object
 7   science_score  31 non-null     int64
 8   enrolled_date  31 non-null     object
 9   remarks        31 non-null     object
dtypes: float64(2), int64(2), object(6)
memory usage: 2.6+ KB

In [6]:
## FINDING DUPLICATES
df.duplicated()
# IF FALSE REPRESENTS : -NOT DUPLICATED(ORIGINAL)
# IF TRUE REPRESENTS :- DUPLICATED

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30     True
dtype: bool

In [7]:
## DELETING THE DUPLCATES....
df.drop_duplicates()

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [8]:
## HERE IT DUPLICATES NOT DELETED FROM AUTUAL DATASET? BECAUSE WE DIDN'T NOT ADD THE DATAFRAME(DF)..
## ACTUAL DATASET MEANS :- ABOVE GIVEN DATASET..
df = df.drop_duplicates()

In [9]:
df
## ORIGINAL DATAFRAME..

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [10]:
df.isnull()
## SHOWING NULL VALUES..

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,True,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False
5,False,False,False,False,False,True,True,False,False,False
6,False,False,False,False,False,False,True,False,False,False
7,False,False,False,False,False,True,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,True,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,True,False,False,False,False
12,False,False,False,False,False,True,False,False,False,False
13,False,False,False,False,False,True,True,False,False,False
14,False,False,False,False,False,True,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,True,False,False,True,True,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,True,False,False,False
20,False,False,False,False,False,True,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,True,False,False,False
23,False,False,False,False,False,True,False,False,False,False
24,False,False,False,False,False,True,True,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,True,False,False,False,False,False,False,False
27,False,False,False,False,False,True,False,False,False,False
28,False,False,False,False,False,True,False,False,False,False
29,False,False,False,False,False,True,False,False,False,False

In [11]:
df.isnull().sum()
## SHOWING TOTAL NO.OF NULL VALUES IN EVERY COLUMN..

student_id        0
name              0
age               3
gender            0
grade             0
math_score       17
english_score     8
science_score     0
enrolled_date     0
remarks           0
dtype: int64

In [12]:
df["name"]
## SHOWING NAME COLUMN..

0        jane smith
1          John Doe
2          Chris P.
3        jane smith
4       Sara O'Neil
5     Mike O’Reilly
6          ali Khan
7       Sara O'Neil
8     Mike O’Reilly
9      Robert Brown
10        lucy gray
11     Simran Singh
12         Patel R.
13         Patel R.
14         Ali Khan
15        Lucy gray
16         Chris P.
17         Ali Khan
18     Simran Singh
19         Patel R.
20      Sara O'Neil
21         John Doe
22      Sara O'Neil
23       jane smith
24         John Doe
25    Mike O’Reilly
26         John Doe
27     Simran Singh
28      Sara O'Neil
29         Patel R.
Name: name, dtype: object

In [13]:
## GOING TO DO STRING MANIPULATION..
df["name"].str.lower().str.title()

0        Jane Smith
1          John Doe
2          Chris P.
3        Jane Smith
4       Sara O'Neil
5     Mike O’Reilly
6          Ali Khan
7       Sara O'Neil
8     Mike O’Reilly
9      Robert Brown
10        Lucy Gray
11     Simran Singh
12         Patel R.
13         Patel R.
14         Ali Khan
15        Lucy Gray
16         Chris P.
17         Ali Khan
18     Simran Singh
19         Patel R.
20      Sara O'Neil
21         John Doe
22      Sara O'Neil
23       Jane Smith
24         John Doe
25    Mike O’Reilly
26         John Doe
27     Simran Singh
28      Sara O'Neil
29         Patel R.
Name: name, dtype: object

In [14]:
df.loc[:, "name"] = df["name"].str.lower().str.title()
## LOC MEANS :- INDEXING USING LABELS
## HERE (:) COLON MEANS :- IT TAKES ALL ROWS..

In [15]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [16]:
df["age"]

0     16.0
1     16.0
2      NaN
3     16.0
4     16.0
5     16.0
6     17.0
7     17.0
8     16.0
9     17.0
10    17.0
11    16.0
12    17.0
13    17.0
14    17.0
15    16.0
16     NaN
17    18.0
18    17.0
19    17.0
20    17.0
21    18.0
22    17.0
23    17.0
24    18.0
25    17.0
26     NaN
27    16.0
28    17.0
29    17.0
Name: age, dtype: float64

In [17]:
## HANDLING MISSING VALUES.. REPLACE WITH "MEAN" OR "MEDIAN"
df["age"].mean()

np.float64(16.77777777777778)

In [18]:
## ROUND(0) :- IF ROW CONTAIN ZERO OR NULL,,, IT REPLACE WITH "MEAN"
age_mean = df["age"].mean().round(0)

In [19]:
df["age"].fillna(age_mean)

0     16.0
1     16.0
2     17.0
3     16.0
4     16.0
5     16.0
6     17.0
7     17.0
8     16.0
9     17.0
10    17.0
11    16.0
12    17.0
13    17.0
14    17.0
15    16.0
16    17.0
17    18.0
18    17.0
19    17.0
20    17.0
21    18.0
22    17.0
23    17.0
24    18.0
25    17.0
26    17.0
27    16.0
28    17.0
29    17.0
Name: age, dtype: float64

In [20]:
df.loc[:,"age"] = df["age"].fillna(age_mean)

In [21]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,17.0,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,17.0,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,17.0,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [22]:
df["gender"]

0     female
1       Male
2       MALE
3     FEMALE
4       male
5     Female
6     female
7     female
8     Female
9     female
10      male
11    FEMALE
12    female
13      male
14      male
15    Female
16    Female
17      male
18      Male
19      MALE
20      Male
21    female
22      MALE
23    Female
24      MALE
25      Male
26      Male
27    FEMALE
28    female
29      male
Name: gender, dtype: object

In [23]:
## AGAIN STRING MANIPULATION...
df["gender"].str.lower().str.title()

0     Female
1       Male
2       Male
3     Female
4       Male
5     Female
6     Female
7     Female
8     Female
9     Female
10      Male
11    Female
12    Female
13      Male
14      Male
15    Female
16    Female
17      Male
18      Male
19      Male
20      Male
21    Female
22      Male
23    Female
24      Male
25      Male
26      Male
27    Female
28    Female
29      Male
Name: gender, dtype: object

In [25]:
df.loc[:,"gender"] = df["gender"].str.lower().str.title()

In [26]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,17.0,Male,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,Female,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,Male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,Female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,Female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,Female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,Male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,Female,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,Female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,Male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,Male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,17.0,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,Male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,Male,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,Female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,Male,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,Male,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,17.0,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,Female,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,Female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,Male,11,NaN,64,83,2022/06/11,Average

In [27]:
df["grade"]

0       11
1     10th
2       10
3       10
4       11
5       10
6       11
7       12
8       12
9       12
10    11th
11    11th
12      11
13      10
14      12
15      12
16      11
17    11th
18      10
19    11th
20      10
21      11
22    11th
23    11th
24    11th
25      12
26    10th
27      12
28      11
29      11
Name: grade, dtype: object

In [28]:
df["grade"].unique()
## HERE GRADES ARE STRING(OBJECT)

array(['11', '10th', '10', '12', '11th'], dtype=object)

In [29]:
## REPLACE THE VALUES OF 10TH TO 10 AND 11TH TO 11...
df["grade"].replace({'10th' : '10', '11th' : '11' })

0     11
1     10
2     10
3     10
4     11
5     10
6     11
7     12
8     12
9     12
10    11
11    11
12    11
13    10
14    12
15    12
16    11
17    11
18    10
19    11
20    10
21    11
22    11
23    11
24    11
25    12
26    10
27    12
28    11
29    11
Name: grade, dtype: object

In [ ]:
df.loc[:,"grade"] = df["grade"].replace({'10th' : '10', '11th' : '11' })

In [30]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,17.0,Male,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,Female,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,Male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,Female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,Female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,Female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,Male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,Female,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,Female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,Male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,Male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,17.0,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,Male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,Male,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,Female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,Male,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,Male,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,17.0,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,Female,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,Female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,Male,11,NaN,64,83,2022/06/11,Average

In [31]:
df["math_score"]

0      75.0
1      74.0
2       NaN
3       NaN
4       NaN
5       NaN
6      64.0
7       NaN
8      80.0
9       NaN
10     65.0
11      NaN
12      NaN
13      NaN
14      NaN
15     65.0
16      NaN
17     67.0
18    100.0
19     73.0
20      NaN
21     66.0
22     75.0
23      NaN
24      NaN
25     94.0
26     64.0
27      NaN
28      NaN
29      NaN
Name: math_score, dtype: float64

In [66]:
math_mean = df["math_score"].mean()
## HANDLING NAN VALUES

In [34]:
df["math_score"].fillna(math_mean)

0      75.0
1      74.0
2      74.0
3      74.0
4      74.0
5      74.0
6      64.0
7      74.0
8      80.0
9      74.0
10     65.0
11     74.0
12     74.0
13     74.0
14     74.0
15     65.0
16     74.0
17     67.0
18    100.0
19     73.0
20     74.0
21     66.0
22     75.0
23     74.0
24     74.0
25     94.0
26     64.0
27     74.0
28     74.0
29     74.0
Name: math_score, dtype: float64

In [35]:
df.loc[:,"math_score"] = df["math_score"].fillna(math_mean)

In [36]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,17.0,Male,10,74.0,missing,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,Female,10,74.0,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,Male,11,74.0,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,74.0,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,Female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,Female,12,74.0,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,Female,12,74.0,missing,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,Male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,Female,11th,74.0,missing,95,2022-06-10,average
12,112,Patel R.,17.0,Female,11,74.0,87,89,2022-06-10,poor
13,113,Patel R.,17.0,Male,10,74.0,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,Male,12,74.0,91,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,17.0,Female,11,74.0,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,Male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,Male,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,74.0,missing,89,2022-06-10,average
21,121,John Doe,18.0,Female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,Male,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11th,74.0,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,Male,11th,74.0,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,17.0,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,Female,12,74.0,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,Female,11,74.0,64,89,2022-06-10,average
29,129,Patel R.,17.0,Male,11,74.0,64,83,2022/06/11,Average

In [37]:
df["english_score"]

0         NaN
1          95
2     missing
3     missing
4          96
5         NaN
6         NaN
7          63
8     missing
9     missing
10         67
11    missing
12         87
13        NaN
14         91
15         91
16        NaN
17         74
18         74
19        NaN
20    missing
21         72
22        NaN
23    missing
24        NaN
25         80
26    missing
27         76
28         64
29         64
Name: english_score, dtype: object

In [38]:
pd.to_numeric(df["english_score"], errors='coerce')

0      NaN
1     95.0
2      NaN
3      NaN
4     96.0
5      NaN
6      NaN
7     63.0
8      NaN
9      NaN
10    67.0
11     NaN
12    87.0
13     NaN
14    91.0
15    91.0
16     NaN
17    74.0
18    74.0
19     NaN
20     NaN
21    72.0
22     NaN
23     NaN
24     NaN
25    80.0
26     NaN
27    76.0
28    64.0
29    64.0
Name: english_score, dtype: float64

In [39]:
df.loc[:, "english_score"] = pd.to_numeric(df["english_score"], errors='coerce')

In [40]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95.0,94,10-06-2022,GOOD
2,102,Chris P.,17.0,Male,10,74.0,NaN,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,Female,10,74.0,NaN,62,10-06-2022,average
4,104,Sara O'Neil,16.0,Male,11,74.0,96.0,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,74.0,NaN,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,Female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,Female,12,74.0,63.0,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,NaN,89,06/12/2022,poor
9,109,Robert Brown,17.0,Female,12,74.0,NaN,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,Male,11th,65.0,67.0,100,06/12/2022,excellent
11,111,Simran Singh,16.0,Female,11th,74.0,NaN,95,2022-06-10,average
12,112,Patel R.,17.0,Female,11,74.0,87.0,89,2022-06-10,poor
13,113,Patel R.,17.0,Male,10,74.0,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,Male,12,74.0,91.0,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91.0,94,06/12/2022,Average
16,116,Chris P.,17.0,Female,11,74.0,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,Male,11th,67.0,74.0,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74.0,62,2022/06/11,average
19,119,Patel R.,17.0,Male,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,74.0,NaN,89,2022-06-10,average
21,121,John Doe,18.0,Female,11,66.0,72.0,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,Male,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11th,74.0,NaN,63,06/12/2022,excellent
24,124,John Doe,18.0,Male,11th,74.0,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80.0,63,10-06-2022,Average
26,126,John Doe,17.0,Male,10th,64.0,NaN,67,06/12/2022,good student
27,127,Simran Singh,16.0,Female,12,74.0,76.0,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,Female,11,74.0,64.0,89,2022-06-10,average
29,129,Patel R.,17.0,Male,11,74.0,64.0,83,2022/06/11,Average

In [41]:
df["english_score"].mean()

np.float64(78.14285714285714)

In [42]:
eng_mean = df["english_score"].mean()

In [48]:
df["english_score"].fillna(eng_mean)

C:\Users\badam\AppData\Local\Temp\ipykernel_14968\1025575824.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["english_score"].fillna(eng_mean).round(1)

0     78.1
1     95.0
2     78.1
3     78.1
4     96.0
5     78.1
6     78.1
7     63.0
8     78.1
9     78.1
10    67.0
11    78.1
12    87.0
13    78.1
14    91.0
15    91.0
16    78.1
17    74.0
18    74.0
19    78.1
20    78.1
21    72.0
22    78.1
23    78.1
24    78.1
25    80.0
26    78.1
27    76.0
28    64.0
29    64.0
Name: english_score, dtype: float64

In [46]:
df.loc[:,"english_score"] = df["english_score"].fillna(eng_mean).round(1)

C:\Users\badam\AppData\Local\Temp\ipykernel_14968\3047669509.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:,"english_score"] = df["english_score"].fillna(eng_mean).round(1)

In [47]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,78.1,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95.0,94,10-06-2022,GOOD
2,102,Chris P.,17.0,Male,10,74.0,78.1,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,Female,10,74.0,78.1,62,10-06-2022,average
4,104,Sara O'Neil,16.0,Male,11,74.0,96.0,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,74.0,78.1,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,Female,11,64.0,78.1,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,Female,12,74.0,63.0,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,78.1,89,06/12/2022,poor
9,109,Robert Brown,17.0,Female,12,74.0,78.1,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,Male,11th,65.0,67.0,100,06/12/2022,excellent
11,111,Simran Singh,16.0,Female,11th,74.0,78.1,95,2022-06-10,average
12,112,Patel R.,17.0,Female,11,74.0,87.0,89,2022-06-10,poor
13,113,Patel R.,17.0,Male,10,74.0,78.1,98,06/12/2022,Average
14,114,Ali Khan,17.0,Male,12,74.0,91.0,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91.0,94,06/12/2022,Average
16,116,Chris P.,17.0,Female,11,74.0,78.1,72,2022/06/11,excellent
17,117,Ali Khan,18.0,Male,11th,67.0,74.0,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74.0,62,2022/06/11,average
19,119,Patel R.,17.0,Male,11th,73.0,78.1,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,74.0,78.1,89,2022-06-10,average
21,121,John Doe,18.0,Female,11,66.0,72.0,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,Male,11th,75.0,78.1,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11th,74.0,78.1,63,06/12/2022,excellent
24,124,John Doe,18.0,Male,11th,74.0,78.1,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80.0,63,10-06-2022,Average
26,126,John Doe,17.0,Male,10th,64.0,78.1,67,06/12/2022,good student
27,127,Simran Singh,16.0,Female,12,74.0,76.0,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,Female,11,74.0,64.0,89,2022-06-10,average
29,129,Patel R.,17.0,Male,11,74.0,64.0,83,2022/06/11,Average

In [49]:
df.loc[:,"english_score"] = df["english_score"].fillna(eng_mean).round(0)

C:\Users\badam\AppData\Local\Temp\ipykernel_14968\2073904004.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:,"english_score"] = df["english_score"].fillna(eng_mean).round(0)

In [50]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,78.0,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95.0,94,10-06-2022,GOOD
2,102,Chris P.,17.0,Male,10,74.0,78.0,69,06/12/2022,needs improvement
3,103,Jane Smith,16.0,Female,10,74.0,78.0,62,10-06-2022,average
4,104,Sara O'Neil,16.0,Male,11,74.0,96.0,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,74.0,78.0,83,06/12/2022,needs improvement
6,106,Ali Khan,17.0,Female,11,64.0,78.0,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,Female,12,74.0,63.0,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,78.0,89,06/12/2022,poor
9,109,Robert Brown,17.0,Female,12,74.0,78.0,97,10-06-2022,needs improvement
10,110,Lucy Gray,17.0,Male,11th,65.0,67.0,100,06/12/2022,excellent
11,111,Simran Singh,16.0,Female,11th,74.0,78.0,95,2022-06-10,average
12,112,Patel R.,17.0,Female,11,74.0,87.0,89,2022-06-10,poor
13,113,Patel R.,17.0,Male,10,74.0,78.0,98,06/12/2022,Average
14,114,Ali Khan,17.0,Male,12,74.0,91.0,67,2022/06/11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91.0,94,06/12/2022,Average
16,116,Chris P.,17.0,Female,11,74.0,78.0,72,2022/06/11,excellent
17,117,Ali Khan,18.0,Male,11th,67.0,74.0,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74.0,62,2022/06/11,average
19,119,Patel R.,17.0,Male,11th,73.0,78.0,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,74.0,78.0,89,2022-06-10,average
21,121,John Doe,18.0,Female,11,66.0,72.0,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,Male,11th,75.0,78.0,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11th,74.0,78.0,63,06/12/2022,excellent
24,124,John Doe,18.0,Male,11th,74.0,78.0,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80.0,63,10-06-2022,Average
26,126,John Doe,17.0,Male,10th,64.0,78.0,67,06/12/2022,good student
27,127,Simran Singh,16.0,Female,12,74.0,76.0,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,Female,11,74.0,64.0,89,2022-06-10,average
29,129,Patel R.,17.0,Male,11,74.0,64.0,83,2022/06/11,Average

In [51]:
df["enrolled_date"]

0     2022-06-10
1     10-06-2022
2     06/12/2022
3     10-06-2022
4     2022-06-10
5     06/12/2022
6     06/12/2022
7     2022/06/11
8     06/12/2022
9     10-06-2022
10    06/12/2022
11    2022-06-10
12    2022-06-10
13    06/12/2022
14    2022/06/11
15    06/12/2022
16    2022/06/11
17    2022-06-10
18    2022/06/11
19    06/12/2022
20    2022-06-10
21    10-06-2022
22    2022-06-10
23    06/12/2022
24    06/12/2022
25    10-06-2022
26    06/12/2022
27    06/12/2022
28    2022-06-10
29    2022/06/11
Name: enrolled_date, dtype: object

In [52]:
df["enrolled_date"].unique()

array(['2022-06-10', '10-06-2022', '06/12/2022', '2022/06/11'],
      dtype=object)

In [54]:
## YYYY-MM-DD
dict_date = {
    '10-06-2022' : '2022-06-10',
    '06/12/2022' : '2022-06-12',
    '2022/06/11' : '2022-06-11'
}

In [55]:
df["enrolled_date"].replace(dict_date)

0     2022-06-10
1     2022-06-10
2     2022-06-12
3     2022-06-10
4     2022-06-10
5     2022-06-12
6     2022-06-12
7     2022-06-11
8     2022-06-12
9     2022-06-10
10    2022-06-12
11    2022-06-10
12    2022-06-10
13    2022-06-12
14    2022-06-11
15    2022-06-12
16    2022-06-11
17    2022-06-10
18    2022-06-11
19    2022-06-12
20    2022-06-10
21    2022-06-10
22    2022-06-10
23    2022-06-12
24    2022-06-12
25    2022-06-10
26    2022-06-12
27    2022-06-12
28    2022-06-10
29    2022-06-11
Name: enrolled_date, dtype: object

In [56]:
df.loc[:,"enrolled_date"] = df["enrolled_date"].replace(dict_date)

In [57]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,78.0,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95.0,94,2022-06-10,GOOD
2,102,Chris P.,17.0,Male,10,74.0,78.0,69,2022-06-12,needs improvement
3,103,Jane Smith,16.0,Female,10,74.0,78.0,62,2022-06-10,average
4,104,Sara O'Neil,16.0,Male,11,74.0,96.0,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,74.0,78.0,83,2022-06-12,needs improvement
6,106,Ali Khan,17.0,Female,11,64.0,78.0,75,2022-06-12,Good
7,107,Sara O'Neil,17.0,Female,12,74.0,63.0,62,2022-06-11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,78.0,89,2022-06-12,poor
9,109,Robert Brown,17.0,Female,12,74.0,78.0,97,2022-06-10,needs improvement
10,110,Lucy Gray,17.0,Male,11th,65.0,67.0,100,2022-06-12,excellent
11,111,Simran Singh,16.0,Female,11th,74.0,78.0,95,2022-06-10,average
12,112,Patel R.,17.0,Female,11,74.0,87.0,89,2022-06-10,poor
13,113,Patel R.,17.0,Male,10,74.0,78.0,98,2022-06-12,Average
14,114,Ali Khan,17.0,Male,12,74.0,91.0,67,2022-06-11,poor
15,115,Lucy Gray,16.0,Female,12,65.0,91.0,94,2022-06-12,Average
16,116,Chris P.,17.0,Female,11,74.0,78.0,72,2022-06-11,excellent
17,117,Ali Khan,18.0,Male,11th,67.0,74.0,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74.0,62,2022-06-11,average
19,119,Patel R.,17.0,Male,11th,73.0,78.0,90,2022-06-12,Good
20,120,Sara O'Neil,17.0,Male,10,74.0,78.0,89,2022-06-10,average
21,121,John Doe,18.0,Female,11,66.0,72.0,94,2022-06-10,Average
22,122,Sara O'Neil,17.0,Male,11th,75.0,78.0,66,2022-06-10,good student
23,123,Jane Smith,17.0,Female,11th,74.0,78.0,63,2022-06-12,excellent
24,124,John Doe,18.0,Male,11th,74.0,78.0,91,2022-06-12,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80.0,63,2022-06-10,Average
26,126,John Doe,17.0,Male,10th,64.0,78.0,67,2022-06-12,good student
27,127,Simran Singh,16.0,Female,12,74.0,76.0,80,2022-06-12,poor
28,128,Sara O'Neil,17.0,Female,11,74.0,64.0,89,2022-06-10,average
29,129,Patel R.,17.0,Male,11,74.0,64.0,83,2022-06-11,Average

In [58]:
df["enrolled_date"]

0     2022-06-10
1     2022-06-10
2     2022-06-12
3     2022-06-10
4     2022-06-10
5     2022-06-12
6     2022-06-12
7     2022-06-11
8     2022-06-12
9     2022-06-10
10    2022-06-12
11    2022-06-10
12    2022-06-10
13    2022-06-12
14    2022-06-11
15    2022-06-12
16    2022-06-11
17    2022-06-10
18    2022-06-11
19    2022-06-12
20    2022-06-10
21    2022-06-10
22    2022-06-10
23    2022-06-12
24    2022-06-12
25    2022-06-10
26    2022-06-12
27    2022-06-12
28    2022-06-10
29    2022-06-11
Name: enrolled_date, dtype: object

In [59]:
pd.to_datetime(df["enrolled_date"])

0    2022-06-10
1    2022-06-10
2    2022-06-12
3    2022-06-10
4    2022-06-10
5    2022-06-12
6    2022-06-12
7    2022-06-11
8    2022-06-12
9    2022-06-10
10   2022-06-12
11   2022-06-10
12   2022-06-10
13   2022-06-12
14   2022-06-11
15   2022-06-12
16   2022-06-11
17   2022-06-10
18   2022-06-11
19   2022-06-12
20   2022-06-10
21   2022-06-10
22   2022-06-10
23   2022-06-12
24   2022-06-12
25   2022-06-10
26   2022-06-12
27   2022-06-12
28   2022-06-10
29   2022-06-11
Name: enrolled_date, dtype: datetime64[ns]

In [60]:
df["remarks"]

0             excellent
1                  GOOD
2     needs improvement
3               average
4                  GOOD
5     needs improvement
6                  Good
7             excellent
8                  poor
9     needs improvement
10            excellent
11              average
12                 poor
13              Average
14                 poor
15              Average
16            excellent
17                 GOOD
18              average
19                 Good
20              average
21              Average
22         good student
23            excellent
24                 GOOD
25              Average
26         good student
27                 poor
28              average
29              Average
Name: remarks, dtype: object

In [61]:
df["remarks"].unique()

array(['excellent', 'GOOD', 'needs improvement', 'average', 'Good',
       'poor', 'Average', 'good student'], dtype=object)

In [62]:
dict_remark = {
'excellent' : 'Excellent',
'GOOD' : 'Good',
'needs improvement' : 'Need Improvement',
'average' : 'Average',
'poor' : 'Poor',
'good student' : 'Good Student'
}

In [63]:
df["remarks"].replace(dict_remark)

0            Excellent
1                 Good
2     Need Improvement
3              Average
4                 Good
5     Need Improvement
6                 Good
7            Excellent
8                 Poor
9     Need Improvement
10           Excellent
11             Average
12                Poor
13             Average
14                Poor
15             Average
16           Excellent
17                Good
18             Average
19                Good
20             Average
21             Average
22        Good Student
23           Excellent
24                Good
25             Average
26        Good Student
27                Poor
28             Average
29             Average
Name: remarks, dtype: object

In [64]:
df.loc[:,"remarks"] = df["remarks"].replace(dict_remark)

In [65]:
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,Jane Smith,16.0,Female,11,75.0,78.0,66,2022-06-10,Excellent
1,101,John Doe,16.0,Male,10th,74.0,95.0,94,2022-06-10,Good
2,102,Chris P.,17.0,Male,10,74.0,78.0,69,2022-06-12,Need Improvement
3,103,Jane Smith,16.0,Female,10,74.0,78.0,62,2022-06-10,Average
4,104,Sara O'Neil,16.0,Male,11,74.0,96.0,64,2022-06-10,Good
5,105,Mike O’Reilly,16.0,Female,10,74.0,78.0,83,2022-06-12,Need Improvement
6,106,Ali Khan,17.0,Female,11,64.0,78.0,75,2022-06-12,Good
7,107,Sara O'Neil,17.0,Female,12,74.0,63.0,62,2022-06-11,Excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,78.0,89,2022-06-12,Poor
9,109,Robert Brown,17.0,Female,12,74.0,78.0,97,2022-06-10,Need Improvement
10,110,Lucy Gray,17.0,Male,11th,65.0,67.0,100,2022-06-12,Excellent
11,111,Simran Singh,16.0,Female,11th,74.0,78.0,95,2022-06-10,Average
12,112,Patel R.,17.0,Female,11,74.0,87.0,89,2022-06-10,Poor
13,113,Patel R.,17.0,Male,10,74.0,78.0,98,2022-06-12,Average
14,114,Ali Khan,17.0,Male,12,74.0,91.0,67,2022-06-11,Poor
15,115,Lucy Gray,16.0,Female,12,65.0,91.0,94,2022-06-12,Average
16,116,Chris P.,17.0,Female,11,74.0,78.0,72,2022-06-11,Excellent
17,117,Ali Khan,18.0,Male,11th,67.0,74.0,81,2022-06-10,Good
18,118,Simran Singh,17.0,Male,10,100.0,74.0,62,2022-06-11,Average
19,119,Patel R.,17.0,Male,11th,73.0,78.0,90,2022-06-12,Good
20,120,Sara O'Neil,17.0,Male,10,74.0,78.0,89,2022-06-10,Average
21,121,John Doe,18.0,Female,11,66.0,72.0,94,2022-06-10,Average
22,122,Sara O'Neil,17.0,Male,11th,75.0,78.0,66,2022-06-10,Good Student
23,123,Jane Smith,17.0,Female,11th,74.0,78.0,63,2022-06-12,Excellent
24,124,John Doe,18.0,Male,11th,74.0,78.0,91,2022-06-12,Good
25,125,Mike O’Reilly,17.0,Male,12,94.0,80.0,63,2022-06-10,Average
26,126,John Doe,17.0,Male,10th,64.0,78.0,67,2022-06-12,Good Student
27,127,Simran Singh,16.0,Female,12,74.0,76.0,80,2022-06-12,Poor
28,128,Sara O'Neil,17.0,Female,11,74.0,64.0,89,2022-06-10,Average
29,129,Patel R.,17.0,Male,11,74.0,64.0,83,2022-06-11,Average